@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jua&family=Shadows+Into+Light&display=swap');


body {
	background: #eee;
}
	
form {
	width: 400px;
	margin: 10vh auto;
	padding: 40px;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-direction: column;
	gap: 2px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.userlist {
	width: 300px;
}

a {
	text-decoration: none;
	width: fit-content;
	display: inline-block;
}

a:last-child {
	padding-top: 5px;
	margin-left: auto;
	gap: none;
}

.userlist a {
	height: 20px;
}

.userlist h6 {
	font-size: 15px;
	margin-bottom: 5px;
}

h6 {
	color: #555;
	font-weight: bold;
	display: inline-block;
}

h6:last-child {
	margin-top: 5px;
}

h1 {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
}
	
.mb-3 {
	width: 100%;
}

.form-label {
	color: #555;
	font-size: 15px;
	margin-bottom: 0px;
}

.form-control {
	font-size: 14px;
}

.login-btn, .signup-btn, .update-btn, .delete-btn{
	margin-top: 10px;
	width: 100%;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #000;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

